NETCUP_CUSTOMER_NUMBER=123456
NETCUP_API_KEY='bla'
NETCUP_API_PASSWORD='blub'
# Usually the toplevel domain. See DNS Settings.
ZONE='topleveldomain.com'
# Use @ as a "subdomain" to update the toplevel domain itself as well
SUBDOMAINS='@ mysubdomain1 mysubdomain2'
